<div id="admin_house_index" class="row">
  <% @houses.each do |house| %>
    <div class="col-md-6">
      <%= link_to(house_path(house)) do %>
        <h2> Manage <%= house.name %></h2>
        <%= image_tag house.image.url %>
      <% end %>
    </div>
  <% end %>
</div>
