<div id='admin-left-panel'>
  <ul class="text-center">
    <%# link_to houses_path do %>
      <li class="<%# side_bar_active(houses_path) %>">
        Chalets
      </li>
    <%# end %>
    <%# link_to pictures_path do %>
      <li class="<%# side_bar_active(pictures_path) %>">
        Pictures
      </li>
    <%# end %>
    <%# link_to floor_plans_path do %>
      <li class="<%# side_bar_active(floor_plans_path) %>">
        Floor Plans
      </li>
    <%# end %>
    <li>What to do</li>
  </ul>
  <div class="col-md-12">
    <%= image_tag 'logo-ChaletsHideaway-footer.png' %>
  </div>
</div>
