@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/*---------------    General    ------------------*/

body {
	background-color: white;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

.center {
	text-align: center;
}

h1, h2, h3, p {
	font-weight: 100;
}

.heavy {
	font-weight: 300;
}

.lead {
	font-weight: 200;
}

.row {
	margin-bottom: 50px;
}

.marginTopMin {
	margin-top: 50px;
}

.marginTopMinMin {
	margin-top: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 20px 0 50px 0;
}

ul li .lead {
	font-size: 1.3em;
}

img {
	border-radius: 10px;
}

.btn {
	background-color: rgba(10,10,10,0);
	border: 1px solid black;
	color: white;
}

.btn:hover {
	background-color: rgba(10,10,10,0.5);
	border: 1px solid white;
	color: white;
}

.btn-black {
	background-color: rgba(10,10,10,0);
	border: 1px solid black;
	color: black;
}

.btn-black:hover {
	background-color: black;
	border: 1px solid white;
	color: white;
}

/*---------------    Nav    ------------------*/

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	opacity: 0;
	background-color: white;
}

.margin_nav {
	margin-top: 450px;
}

#my_nav li {
	margin-left: 20px;
}

.navbar_brand {
	padding-top: 12px;
	width: 300px;
}

/*---------------    Home    ------------------*/

.photo_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	z-index: -2;
	overflow: hidden;
	color: #f5f5f5;
}

.photo_background img {
	position: absolute;
	width: 100%;
	z-index: -1;
	border-radius: 0px;
}

.photo_background .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
}

.home_nav ul li {
	float: left;
	padding: 10px;
}

.home_main_content {
	background-color: white;
}

.margin_home_main_content {
	margin-top: 500px;
}

.home_content {
	background-color: white;
}

.band {
	height: 200px;
	width: 100%;
	background-color: black;
	color: white;
	padding-top: 60px;
}

.pic_main_content_div {
	max-width: 100%;
	margin-bottom: 10px;
}

.pic_main_content {
	width: 100%;
	height: 250px;
}

.pic_carou {
	width: 100%;
	margin: 20px 0 20px 0;
}

.background_image {
	background-image: image-url("background_image.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.background_image2 {
	background-image: image-url("background_image2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.band_height_mobile {
	display: none;
}

.background_image_mobile {
	width: 100%;
	border-radius: 0;
}

.icon {
	width: 22px;
	height: 25px;
	padding-bottom: 5px;
}

.panda_winter {
	border-right: 1px solid #dddddd;
}

.tab-pane {
	padding-top: 20px;
}

.tab_logo_panda {
	width: 200px;
	height: 150px;
}

.tab_logo {
	width: 100px;
	height: 50px;
}

.tab_logo_round {
	width: 60px;
	height: 60px;
}

.tab_horizontal_border {
	border-bottom: 1px solid #dddddd;
	padding: 10px;
}

.tab_horizontal_border:hover {
	border: 1px solid #dddddd;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);

}

/*---------------    Modal    ------------------*/

.close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: black;
}

.modal-header {
	margin: 0;
	padding: 0;
}

.modal_picture {
	width: 100%;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-footer {
	border-top: 1px solid black;
}

/*---------------    Footer    ------------------*/


footer {
	text-align: center;
	background-color: black;
	height: 300px;
	color: #f5f5f5;
	position:relative;
	font-size: 0.8em;
}

footer p {
	font-size: 1.3em;
	font-weight: 300;
}

.copy {
	position: absolute;
	bottom: 5px;
	left: 10px;
}

.terms {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.terms ul li {
	float: left;
	margin-left: 30px;
}


/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/



/*---------------    1950    ------------------*/

@media (max-width: 1950px) {
	.home_nav {
		position: absolute;
		top: 85%;
		right: 20%;
	}
	.band_height{
		height: 400px;
	}
}

/*---------------    1500    ------------------*/

@media (max-width: 1500px) {
	.home_nav {
		position: absolute;
		top: 85%;
		right: 10%;
	}
	.band_height{
		height: 300px;
	}
}

/*---------------    992/add touch    ------------------*/

@media (max-width: 992px) {
	.band_height {
		display: none;
	}
	.band_height_mobile {
		display: block;
	}
}

