@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


/*================================================*/
/*---------------    General    ------------------*/
/*================================================*/

html, body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

a {
	color: #505050;
}

a:hover {
	text-decoration: none;
	color: black;
}

h1{
	font-size: 50px;
	// font-weight: 700;
}

img {
	width: 100%;
	// // border-radius: 10px 10px 10px 10px;
	// -moz-border-radius: 10px 10px 10px 10px;
	// -webkit-border-radius: 10px 10px 10px 10px;
	// border: 0px solid #000000;
}

p {
	font-size: 18px;
	font-weight: 300;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 20px 0 50px 0;
}

ul li .lead {
	font-size: 1.3em;
}

/*================================================*/
/*---------------    Helpers    ------------------*/
/*================================================*/

.anim {
	position: relative;
}

.anim-absolute-text {
	color: #fff;
	font-size: 100px;
	position: absolute;
	text-shadow: 2px 2px 5px #000;
	z-index: 2;
}

.btn-black {
	background-color: rgba(10,10,10,0);
	border: 1px solid black;
	border-radius: 0;
	color: black;
	padding: 20px 10px;
	width: 100%;
}

.btn-black:hover {
	background-color: black;
	color: white;
}

.caps {
	text-transform: uppercase;
}

.heavy {
	font-weight: 700;
}

.marginTop20 {
	margin-top: 20px;
}

.marginTop50 {
	margin-top: 50px;
}

.marginTop100 {
	margin-top: 100px;
}

.no-padding {
	padding: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.regular {
	font-weight: 400
}

.row {
	margin-bottom: 50px;
	margin-top: 50px;
}

.sub-title {
	font-size: 25px;
}

/*================================================*/
/*-------------      Partials      ---------------*/
/*================================================*/

#chalet-section-1 {
	background-image: image-url("chalet-intro.jpg");
	background-position: center 80%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
	.svg-wrapper {
		background-color: rgba(255, 255, 255, 0.5);
		height: 100%;
		.svg-chalet-name {
			margin-top: -50px;
		}
	}

	// .testy {
	// 	background-color: rgba(255, 255, 255, 0.5);
	// 	height: 100%;
	// 	width: 100%;
	// 	span {
	// 		font-size: 130px;
	// 		position: relative;
	// 		top: 27%;
	// 	}
	// }
}

#chalet-section-2 {
	margin-top: -150px;
	.chalet-swiper {
		height: 80%;
		overflow-x: hidden;
		width: 100%;
		.swiper-button-black {
			opacity: 0;
			top: 35%;
		}
	}
	.chalet-swiper:hover {
		.swiper-button-black {
			opacity: 1;
		}
		.swiper-button-prev.swiper-button-disabled,
		.swiper-button-next.swiper-button-disabled {
		  opacity: 0.35;
		}
	}
	.chalet-swiper-thumbs {
		height: 20%;
		overflow-x: hidden;
		padding: 10px 0;
		.swiper-slide {
			width: 25%;
		}
	}
	.icon {
		width: 22px;
		height: 25px;
		padding-bottom: 5px;
	}
}

#chalet-section-3 {
	height: 600px;
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	#street-view {
		height: 100%;
	}
}

#chalet-section-4 {
	background-color: rgba(0, 0, 0, 1);
	margin-top: -60px;
	height: 400px;
	-webkit-clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	.testimony-swiper {
		margin-top: 50px;
		.swiper-pagination {
			bottom: -30px;
		}
		.swiper-slide {
			color: #fff;
			margin-top: 20px;
			p {
				font-size: 40px;
				font-style: italic;
			}
			p.small {
				font-size: 20px;
				font-style: normal;
				font-weight: 300;
			}
		}
	}
}

#picture-modal {
	.modal-dialog {
		width: 80%;
		.modal-body {
			padding: 0;
		}
	}
}

#pricings-table {
	.modal-body {
		padding: 0;
	}
	.modal-header-background {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 250px;
		.modal-title {
			background-color: rgba(255, 255, 255, 0.7);
			margin-top: 35px;
			padding: 20px;
		}
	}
	.nav-pills {
		li {
			border-left: 1px solid rgba(0, 0, 0, 0.3);
		}
		li:first-child {
			border-left: none;
		}
		li.active a {
			background-color: #000;
			border-radius: 0;
		}
		li:hover a {
			border-radius: 0;
		}
	}
	.tab-content {
		.small {
			top: 10px;
			left: -55px;
			font-size: 0.7em;
			color: rgba(0, 0, 0, 0.4);
		}
	}
}



/*================================================*/
/*---------------      Nav      ------------------*/
/*================================================*/

.navbar {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: none;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	.navbar_brand {
		padding-top: 6px;
		width: 250px;
	}
	#my_nav {
		a {
			color: #000;
			font-size: 22px;
			padding-bottom: 26px;
			padding-top: 26px;
		}
		a:hover {
			color: rgba(0, 0, 0, 0.6)
		}
		li {
			padding-top: 0px;
		}
		.dropdown-menu {
			padding: 0;
		}
		.open {
			a {
			}
			.dropdown-toggle {
				background-color: rgba(0, 0, 0, 0.6);
				color: #fff;

			}
		}
	}
}

.anim-nav-home {
	background-color: rgba(255, 255, 255, 1);
	opacity: 0;
}





/*================================================*/
/*---------------     Home      ------------------*/
/*================================================*/

#home-section-1 {
	position: relative;
	.intro-pic {
		height: 70vh;
		position: fixed;
		width: 100%;
	}
	.intro-swiper {
		position: fixed;
		width: 100%;
		img {
			height: 70vh;
		}
	}
	.pool-text-first, .pool-text-second {
		bottom: 0;
		left: 0;
		margin: auto;
		right: 0;
		top: 20vh;
		width: 845px;
		// border: 1px solid black;
	}
	.pool-text-second {
		top: 30vh;
	}
	.skiout-text {
		top: 55vh;
	}
	.treat-text {
		left: 10vw;
	}
	.your-text {
		left: 40vw;
		top: 30vh;
	}
	.self-text {
		left: 70vw;
		top: 50vh;
	}
	.sauna-text, .massage-text {
		bottom: 0;
		left: 0;
		margin: auto;
		right: 0;
		top: 30vh;
		width: 340px;
		// border: 1px solid black;
	}
	.massage-text {
		width: 800px;
		// border: 1px solid black;
	}
	.svg-chalet-logo, .logo-fill {
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 15vh;
		width: 400px;
		z-index: 2;
	}
	.logo-fill {
		top: 14.5vh;
		width: 430px;
	}

}

#home-section-2 {
	background-image: image-url('home-section-2-background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 70vh;
	position: relative;
	z-index: 2;
	img {
		margin-top: 50px;
		height: 270px;
	}
	.band {
		height: 200px;
		width: 100%;
		background-color: black;
		color: white;
		padding-top: 50px;
	}
	.img-mountains-name {
		height: 600px;
		position: absolute;
		top: -30px;
		width: 100%;
		z-index: 3;
	}
	.img-mountains-line {
		position: absolute;
		top: -155px;
		z-index: 3;
	}
	.set-height {
		height: 70vh;
	}
}

.parallax-anim {
	position: relative;
}


#home-section-3, #home-section-5 {
	background-color: #fff;
	height: 800px;
	position: relative;
	z-index: 2;
	img {
		height: 800px;
	}
	.anim-background {
		position: absolute;
	}
}

#home-section-3 {
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
 	clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

#home-section-4 {
	background-color: #fff;
	position: relative;
	z-index: 3;
	.chalet-description {
		margin-top: 100px;
	}
	.pull-normal {
		img {
			-webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
			clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
		}
	}
	.pull-right {
		img {
			-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
			clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
		}
	}
	.sleep-text {
		font-size: 0.6em;
		font-weight: 300;
	}
}

#home-section-5 {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	.bg-sky {
		width: 100%;
	}
}

#home-section-6 {
	background-color: #fff;
	position: relative;
	z-index: 1;
	p {
		font-size: 18px;
	}
	.map_wrapper {
		height: 800px;
		margin-top: -190px;
		position: relative;
		width: 100%;
		-webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0 0);
		clip-path: polygon(0 0, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0 0);
	}
	.map {
		position: absolute;
		width: 100%;
		height: 800px;
		// border-radius: 10px 10px 10px 10px;
		// -moz-border-radius: 10px 10px 10px 10px;
		// -webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
		z-index: 1;
	}
	.row {
		margin-bottom: 50px;
		margin-top: 0px;
	}
	.whats-around-wrapper {
		margin-top: -85px;
		.nav-tabs {
			a {
				border-radius: 0;
				font-size: 0.9em;
			}
		}
		.text-angled {
			left: -150px;
			position: relative;
			top: 10px;
			-ms-transform: rotate(-13deg); /* IE 9 */
	    -webkit-transform: rotate(-13deg); /* Chrome, Safari, Opera */
	    transform: rotate(-13deg);
		}
		// -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 33%);
		// clip-path: polygon(100% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 33%);
	}
	#map_ski_rental, #map_restaurant, #map_transport, #map_other {
		opacity: 0;
		z-index: -1;
	}
}

/*================================================*/
/*-------------     Hideaway I      --------------*/
/*================================================*/

















/*---------------    Tab    ------------------*/

.panda_winter {
	border-right: 1px solid #dddddd;
}

.tab-pane {
	padding-top: 20px;
}

.tab_logo_panda {
	width: 200px;
	height: 150px;
	margin: 10px;
}

.tab_logo {
	width: 200px;
	height: 110px;
}

.tab_horizontal_border {
	border-bottom: 1px solid #dddddd;
	padding: 10px;
}


//
// .tab_horizontal_border:hover {
// 	border: 1px solid #dddddd;
// 	border-radius: 5px 5px 5px 5px;
// 	-moz-border-radius: 5px 5px 5px 5px;
// 	-webkit-border-radius: 5px 5px 5px 5px;
// 	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
// 	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
// 	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
// }

.paddingTopTab{
	padding-top: 50px;
}

/*---------------    Modal    ------------------*/

.close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: black;
}

.modal-header {
	margin: 0;
	padding: 0;
}

.modal_picture {
	width: 100%;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-footer {
	border-top: 1px solid black;
}

/*---------------    Footer    ------------------*/


footer {
	text-align: center;
	background-color: black;
	padding-top: 50px;
	padding-bottom: 0;
	margin-bottom: 0;
	color: #fff;
	p.lead {
		font-size: 0.9em;
	}
	.container, .row {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	a {
		color: #fff;
	}
	a:hover {
		color: rgba(255, 255, 255, 0.5);
	}
	img {
		margin-top: 0;
		padding-top: 0;
		width: 20%;
	}
}





/*================================================*/
/*---------------     admin     ------------------*/
/*================================================*/


.sign_in_logo {
	width: 200px;
}

#admin-layout {
	nav {
		opacity: 1
	}
	#admin-left-panel {
		img {
			margin-top: 200px;
			width: 100px;
		}
		height: 100%;
		width: 10%;
		background-color: black;
		position: fixed;
		ul {
			margin-top: 200px;
			li {
				padding: 20px;
			}
			li:hover {
				background-color: #555;
				color: #fff;
			}
			.side_bar_active, .side_bar_active:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}
	#admin-main {
		margin-left: 10%;
		padding: 5%;

	}
	#admin_house_index {
		img {
			width: 100%
		}
	}
	.dashed-box {
		border: 1px dashed #000;
		margin-bottom: 50px;
		background-color: #f5f5f5;
	}
	hr {
		background-color: black;
		height: 3px;
	}
	.nav-pills li.active a {
		background-color: #000;
	}
	.red {
		color: red;
	}
	.green {
		color: green;
	}
	.current-admin {
		font-size: 0.9em;
		padding-top: 30px;
		padding-left: 20px
	}
	.add_picture_div {
		padding-top: 25px;
		.add_picture_button {
			border: 1px solid #000;
			border-radius: 10px;
			padding: 25px 40px;
		}
		.add_picture_button:hover {
			background-color: #e5e5e5;
		}
	}
}






/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/



/*---------------    1950    ------------------*/

// @media (min-width: 1951px) {
// 	/*.home_nav {
// 		position: absolute;
// 		top: 85%;
// 		right: 20%;
// 	}*/
// 	.band_height{
// 		height: 500px;
// 	}
// }
//
// @media (max-width: 1950px) {
// 	/*.home_nav {
// 		position: absolute;
// 		top: 85%;
// 		right: 20%;
// 	}*/
// 	.band_height{
// 		height: 500px;
// 	}
// }

/*---------------    1500    ------------------*/

@media (max-width: 1500px) {
	/*.home_nav {
		position: absolute;
		top: 85%;
		right: 10%;
	}*/
	.band_height{
		height: 400px;
	}
}

/*---------------    992/add touch    ------------------*/

@media (max-width: 992px) {
	.band_height {
		display: none;
	}
	.band_height_mobile {
		display: block;
	}
	/*.pic_home_mobile {
		display: block;
		width: 100%;
		border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		border: 0px solid #000000;
	}
	.pic_home {
		display: none;
	}*/
	.navbar {
		opacity: 1;
	}
	.margin_nav {
		margin-top: 0px;
	}
	.margin_home_main_content_mobile {
		margin-top: 400px;
	}
	.panda_winter {
		border-right: none;
		border-bottom: 1px solid #ddd;
		padding-bottom: 30px;
	}
	.panda_summer {
		padding-top: 30px;
	}
	.paddingTopTab{
		padding-top: 10px;
	}
	.tab_horizontal_border {
		height: 350px;
	}
	.map_wrapper {
		height: 300px;
	}
	.map {
		height: 300px;
	}
}
